.header {
    padding: 30px 0;
    color: #ffffff;
    background-color: coral;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.headerImg {
    width: 3%;
    height: auto;
    margin-right: 5px;
}